{% extends "user_layout.html" %}

{% block content %}
<h4 class="mb-4"><i class="fas fa-shopping-cart me-2"></i>商店</h4>

<div class="row">
    <div class="col-lg-3 mb-3">
        <div class="list-group" id="shopList">
            <div class="list-group-item active">加载中...</div>
        </div>
    </div>

    <div class="col-lg-9">
        <div class="card shadow-sm">
            <div class="card-header bg-light">
                <h6 class="mb-0"><span id="shopName">商店</span> 商品列表</h6>
            </div>
            <div class="card-body">
                <div id="shopItems" class="row">
                    <div class="col-12 text-center text-muted py-5">
                        <i class="fas fa-inbox me-2"></i>选择商店查看商品
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
